@{
    var beneficiaryId = ViewBag.BeneficiaryId as Guid?;
}
<div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0">سجل الصرف</h4>
    <a class="btn btn-primary" asp-action="Create" asp-route-beneficiaryId="@beneficiaryId">إضافة صرف جديد</a>
</div>
