@model InfrastructureManagmentWebFramework.Models.HR.Advanced.Sanctions.CreateSanctionRecordVm
@{ ViewData["Title"] = "إضافة جزاء"; }
<h3 class="mb-3">إضافة جزاء</h3>
<partial name="_Form" model="Model" />
