@model InfrastructureManagmentWebFramework.Models.HR.Advanced.Sanctions.EditSanctionRecordVm
@{ ViewData["Title"] = "تعديل جزاء"; }
<h3 class="mb-3">تعديل جزاء</h3>
<partial name="_Form" model="Model" />
