@model InfrastructureManagmentWebFramework.Models.HR.Advanced.Evaluations.CreatePerformanceEvaluationVm
@{ ViewData["Title"] = "إضافة تقييم"; }
<h3 class="mb-3">إضافة تقييم أداء</h3>
<partial name="_Form" model="Model" />
