@model InfrastructureManagmentWebFramework.Models.HR.Advanced.Evaluations.EditPerformanceEvaluationVm
@{ ViewData["Title"] = "تعديل تقييم"; }
<h3 class="mb-3">تعديل تقييم أداء</h3>
<partial name="_Form" model="Model" />
