@model InfrastructureManagmentWebFramework.Models.Charity.Stores.Receipts.CreateStoreReceiptVm
<div class="row g-3">
    <div class="col-md-4"><label asp-for="ReceiptNumber" class="form-label"></label><input asp-for="ReceiptNumber" class="form-control" /></div>
    <div class="col-md-4"><label asp-for="ReceiptDate" class="form-label"></label><input asp-for="ReceiptDate" class="form-control" /></div>
    <div class="col-md-4"><label asp-for="WarehouseId" class="form-label"></label><select asp-for="WarehouseId" asp-items="Model.Warehouses" class="form-select"></select></div>
    <div class="col-md-4"><label asp-for="SourceType" class="form-label"></label><select asp-for="SourceType" asp-items="Model.SourceTypes" class="form-select"></select></div>
    <div class="col-md-8"><label asp-for="SourceName" class="form-label"></label><input asp-for="SourceName" class="form-control" /></div>

    <div class="col-12"><hr /><h5>بيانات الصنف</h5></div>
    <div class="col-md-12"><label asp-for="ItemId" class="form-label"></label><select asp-for="ItemId" asp-items="Model.Items" class="form-select"></select></div>
    <div class="col-md-4"><label asp-for="Quantity" class="form-label"></label><input asp-for="Quantity" class="form-control" /></div>
    <div class="col-md-4"><label asp-for="UnitCost" class="form-label"></label><input asp-for="UnitCost" class="form-control" /></div>
    <div class="col-md-4"><label asp-for="ExpiryDate" class="form-label"></label><input asp-for="ExpiryDate" class="form-control" /></div>
    <div class="col-md-6"><label asp-for="BatchNo" class="form-label"></label><input asp-for="BatchNo" class="form-control" /></div>
    <div class="col-md-12"><label asp-for="Notes" class="form-label"></label><textarea asp-for="Notes" class="form-control" rows="3"></textarea></div>
</div>
