@model InfrastructureManagmentWebFramework.Models.Payroll.EmployeeStructures.CreateEmployeeSalaryStructureVm
<input asp-for="EmployeeId" type="hidden" />
<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="SalaryItemDefinitionId" class="form-label"></label>
        <select asp-for="SalaryItemDefinitionId" asp-items="Model.SalaryItems" class="form-select"></select>
        <span asp-validation-for="SalaryItemDefinitionId" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Value" class="form-label"></label>
        <input asp-for="Value" class="form-control" />
    </div>
    <div class="col-md-3 form-check mt-4 ms-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>
    <div class="col-md-3">
        <label asp-for="FromDate" class="form-label"></label>
        <input asp-for="FromDate" class="form-control" />
    </div>
    <div class="col-md-3">
        <label asp-for="ToDate" class="form-label"></label>
        <input asp-for="ToDate" class="form-control" />
    </div>
    <div class="col-12">
        <label asp-for="Notes" class="form-label"></label>
        <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
    </div>
</div>
