@model InfrastructureManagmentWebFramework.Models.Charity.Kafala.CreateKafalaCaseVm
@{ ViewData["Title"] = "إضافة كفالة"; }
<h4 class="mb-3">إضافة ملف كفالة</h4>
<form asp-action="Create" method="post">
    @Html.Partial("_Form", Model)
</form>
