@model InfrastructureManagmentWebFramework.Models.Charity.ProjectProfile.Phases.EditProjectPhaseVm
@await Html.PartialAsync("~/Views/Shared/Projects/_ProjectHeader.cshtml")
<div class="card"><div class="card-body"><h4 class="mb-3">تعديل مرحلة</h4><form method="post">@Html.AntiForgeryToken()<input type="hidden" asp-for="Id" /> @await Html.PartialAsync("_Form", Model)<div class="mt-3"><button class="btn btn-primary">حفظ التعديل</button></div></form></div></div>
