@model InfrastructureManagmentWebFramework.Models.HR.Advanced.EmployeeMovements.CreateEmployeeMovementVm
@{ ViewData["Title"] = "إضافة حركة وظيفية"; }
<h3 class="mb-3">إضافة حركة وظيفية</h3>
<partial name="_Form" model="Model" />
