@model InfrastructureManagmentWebFramework.Models.HR.Advanced.EmployeeMovements.EditEmployeeMovementVm
@{ ViewData["Title"] = "تعديل حركة وظيفية"; }
<h3 class="mb-3">تعديل حركة وظيفية</h3>
<partial name="_Form" model="Model" />
