@model InfrastructureManagmentWebFramework.Models.Charity.Kafala.CreateKafalaSponsorVm
@{ ViewData["Title"] = "إضافة كفيل"; }
<h4 class="mb-3">إضافة كفيل</h4>
<form asp-action="Create" method="post">
    @Html.Partial("_Form", Model)
</form>
