@model InfrastructureManagmentWebFramework.Models.HR.Advanced.OutRequests.CreateOutRequestVm
@{ ViewData["Title"] = "إضافة طلب خروج"; }
<h3 class="mb-3">إضافة طلب خروج</h3>
<partial name="_Form" model="Model" />
