@model InfrastructureManagmentWebFramework.Models.HR.Advanced.OutRequests.EditOutRequestVm
@{ ViewData["Title"] = "تعديل طلب خروج"; }
<h3 class="mb-3">تعديل طلب خروج</h3>
<partial name="_Form" model="Model" />
