@* Views/Shared/_SearchBox.cshtml *@
<div class="skote-search relative">
  <input id="skote-search" class="form-control" type="search" placeholder="Search everywhere... (Ctrl + K)" autocomplete="off" />
  <div id="skote-search-dd" class="dropdown-menu p-0 shadow" style="max-height: 400px; overflow:auto; width: 520px;">
    <div class="p-2 text-muted small">Type to search...</div>
  </div>
</div>
