<authz policy="SettingsManage">
    <li>
        <a href="/SecurityAdmin" class="waves-effect">
            <i class="bx bx-lock-alt"></i>
            <span>إدارة الصلاحيات</span>
        </a>
    </li>
</authz>
