@model InfrastructureManagmentWebFramework.Models.Charity.Volunteers.CreateVolunteerAvailabilitySlotVm
@await Html.PartialAsync("~/Views/Shared/Volunteers/_VolunteerHeader.cshtml")
<div class="card"><div class="card-body">
    <h4 class="mb-3">إضافة وقت توفر</h4>
    <form asp-action="Create" method="post">
        <input asp-for="VolunteerId" type="hidden" />
        @await Html.PartialAsync("_Form", Model)
        <button class="btn btn-primary" type="submit">حفظ</button>
        <a asp-action="Index" asp-route-volunteerId="@Model.VolunteerId" class="btn btn-light">عودة</a>
    </form>
</div></div>
