@using InfrastructureManagmentWebFramework.Models.Charity.BeneficiaryProfile.Assessments
@model CreateBeneficiaryAssessmentVm
<input type="hidden" asp-for="BeneficiaryId" />
<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
<div class="row g-3">
    <div class="col-md-4">
        <label asp-for="VisitDate" class="form-label"></label>
        <input asp-for="VisitDate" type="date" class="form-control" />
        <span asp-validation-for="VisitDate" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="RecommendedAidTypeId" class="form-label"></label>
        <select asp-for="RecommendedAidTypeId" asp-items="Model.AidTypes" class="form-select">
            <option value="">-- اختر --</option>
        </select>
    </div>
    <div class="col-md-4">
        <label asp-for="RecommendationAmount" class="form-label"></label>
        <input asp-for="RecommendationAmount" class="form-control" />
    </div>
    <div class="col-md-6">
        <label asp-for="HousingCondition" class="form-label"></label>
        <textarea asp-for="HousingCondition" class="form-control"></textarea>
    </div>
    <div class="col-md-6">
        <label asp-for="EconomicCondition" class="form-label"></label>
        <textarea asp-for="EconomicCondition" class="form-control"></textarea>
    </div>
    <div class="col-md-6">
        <label asp-for="HealthCondition" class="form-label"></label>
        <textarea asp-for="HealthCondition" class="form-control"></textarea>
    </div>
    <div class="col-md-6">
        <label asp-for="SocialCondition" class="form-label"></label>
        <textarea asp-for="SocialCondition" class="form-control"></textarea>
    </div>
    <div class="col-md-4">
        <label asp-for="AssessmentScore" class="form-label"></label>
        <input asp-for="AssessmentScore" class="form-control" />
    </div>
    <div class="col-md-8">
        <label asp-for="DecisionSuggested" class="form-label"></label>
        <input asp-for="DecisionSuggested" class="form-control" />
    </div>
    <div class="col-12">
        <label asp-for="RecommendationText" class="form-label"></label>
        <textarea asp-for="RecommendationText" class="form-control"></textarea>
    </div>
</div>
